<!--Form with header-->

<form method="post" netlify="netlify">
      <!--Body-->
      <div class="form-group">
        <div class="col-xs-12 input-group mb-2">
          <input type="text" class="form-control" id="name" name="name" placeholder="Your name" required="required">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12 input-group mb-2">
          <input type="email" class="form-control" id="email_address" name="email" placeholder="email@domain.com" required="required">
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 input-group mb-2">
          <textarea class="form-control" placeholder="Type your message" required="required"></textarea>
        </div>
      </div>

      <div class="text-center">
        <input type="submit" value="Dispatch Messenger Hamsters" class="btn btn-info btn-block rounded-0 py-2">
      </div>
</form>
<!--Form with header-->
