<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>{{ title or renderData.title or metadata.title }}</title>

  <!-- Opens Sans Font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>

  <!-- Bootstrap styles -->
  <link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">

  <!-- Font Awesome -->
  <link href="/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">

  <!-- Lightbox styles -->
  <link href="/lightbox/css/lightbox.min.css" media="screen" rel="stylesheet" type="text/css">

  <!-- Custom styles -->
  <link href="/css/styles.css" media="screen" rel="stylesheet" type="text/css">

  <!-- Modernizr -->
  <script type="text/javascript" src="/js/modernizr.custom.min.js"></script>

  <script type="text/javascript">
    //checking media queries browsers support
    Modernizr.load({
      test: Modernizr.mq('only all'),
      nope: 'js/respond.min.js'
    });
  </script>

</head>
