<!DOCTYPE html>
<html class="no-js">

    {% include "components/head.njk" %}

<body data-spy="scroll" data-target="#main-menu">

<div id="top"></div>

  <div class="container">


    {% include "components/nav.njk" %}
            
    {{ layoutContent | safe }}

    {% include "components/footer.njk" %}

    </div>

<!-- javascript -->
  <!-- jQuery -->
    <script type="text/javascript" src="/js/jquery.1.11.0.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

    <!-- jQuery cookie -->
    <script type="text/javascript" src="/js/jquery.cookie.min.js"></script>

    <!-- jQuery scrollTo -->
    <script type="text/javascript" src="/js/jquery-scrollto-min.js"></script>

    <!-- Lightbox -->
    <script type="text/javascript" src="/lightbox/js/lightbox.min.js"></script>

    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Masonry -->
    <script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>

    <!-- Shuffle -->
    <script type="text/javascript" src="/js/jquery.shuffle.modernizr.min.js"></script>

    <!-- Custom javascript -->
    <script type="text/javascript" src="/js/custom.min.js"></script>

<!-- end javascript -->

</body>

</html>
