---
layout: layouts/base.njk
title: Home
date: 2016-01-01T00:00:00.000Z
permalink: /
navtitle: Home
tags:
- nav
---

<div class="row">
  <div class="col-md-12">
    <div class="standard-box no-border" id="slider">
      <div id="carousel-main" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-main" data-slide-to="1"></li>
          <li data-target="#carousel-main" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="img/slider-photos/concert-1.jpg" alt="slide-1">
            <div class="carousel-caption">
              <!-- <div class="main-icon"> <div class="hex-shape"> <i class="fa fa-code"></i> </div> </div> -->
              <h1 class="carousel-heading">Make your room rock</h1>
              <p>Give your sound the room it deserves.</p>
            </div>
          </div>
          <div class="item">
            <img src="img/slider-photos/concert-2.jpg" alt="slide-2">
            <div class="carousel-caption">
              <!-- <div class="main-icon"> <div class="hex-shape"> <i class="fa fa-twitter"></i> </div> </div> -->
              <h1 class="carousel-heading">Do one thing and do it well</h1>
              <p>Our laser focus on making your room sound great makes us really, really special.</p>
            </div>
          </div>
          <div class="item">
            <img src="img/slider-photos/concert-3.jpg" alt="slide-3">
            <div class="carousel-caption">
              <!-- <div class="main-icon"> <div class="main-icon"> <div class="hex-shape"> <i class="fa fa-mobile"></i> </div> </div> </div> -->
              <h1 class="carousel-heading">Get the most for your money</h1>
              <p>It's easy to spend a lot on acoustic treatment and wind up disappointed. Let us show you how to make the best of your budget.</p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-main" data-slide="prev">
          <i class="fa fa-long-arrow-left"></i>
        </a>
        <a class="right carousel-control" href="#carousel-main" data-slide="next">
          <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="thumbnail pricing clearfix">
            <div class="pricing-head">
              <h2 class="standard-header">
                <span class="text text-green">Intro offer</span>
              </h2>
              <div class="pricing-head-body">
                <div class="price-wrapper">
                  <div class="price">
                    $99
                  </div>
                  <span class="additional-info">plus optional stuff</span>
                </div>
              </div>
              <div class="pricing-image" style="background: url('img/photos/ticket-1.jpg'); background-size:cover;">
                <span class="event-status event-status-lg bg-green"></span>
                <h4 class="pricing-title">
                  <span class="text">Acoustic Analysis</span>
                  <span class="clearfix"></span>
                  <span class="text text-smaller">On site acoustic analysis and reporting.</span>
                </h4>
              </div>
            </div>
            <div class="caption bordered background-white">
              <div class="description">
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check"></i>Any number of rooms</li>
                  <li>
                    <i class="fa fa-check"></i>Accurate measurement</li>
                  <li>
                    <i class="fa fa-check"></i>Listening tests</li>
                  <li>
                    <i class="fa fa-check"></i>Full report with recommendations.</li>
                </ul>
                <p class="description text-justify">
                  <small>Does not include the purchase of acoustic treatment.</small>
                </p>
              </div>
              <a class="btn standard-hover-effect bg-green btn-lg btn-block" href="#">
                <span class="text">
                  <span class="fa fa-play"></span>
                  Get Started</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="thumbnail pricing clearfix">
            <div class="pricing-head">
              <h2 class="standard-header">
                <span class="text text-yellow">Best Value</span>
              </h2>
              <div class="pricing-head-body">
                <div class="price-wrapper">
                  <div class="price">
                    $199
                  </div>
                  <span class="additional-info">includes followup</span>
                </div>
              </div>
              <div class="pricing-image" style="background: url('img/photos/ticket-1.jpg'); background-size:cover;">
                <span class="event-status event-status-lg bg-yellow"></span>
                <h4 class="pricing-title">
                  <span class="text">Analysis and Corrective EQ</span>
                  <span class="clearfix"></span>
                  <span class="text text-smaller">for sound systems</span>
                </h4>
              </div>
            </div>
            <div class="caption bordered background-white">
              <div class="description">
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check"></i>Everything in Acoustic Analysis</li>
                  <li>
                    <i class="fa fa-check"></i>Consultation during treatment and installation</li>
                  <li>
                    <i class="fa fa-check"></i>Room analysis and corrective EQ</li>
                  <li>
                    <i class="fa fa-check"></i>Training and integration on all systems</li>
                </ul>
                <p class="description text-justify">
                  <small>Does not include the purchase of acoustic treatement.</small>
                </p>
              </div>
              <a class="btn standard-hover-effect btn-lg bg-yellow btn-block" href="#">
                <span class="text">
                  <span class="fa fa-play"></span> Get Started</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="thumbnail pricing clearfix">
            <div class="pricing-head">
              <h2 class="standard-header">
                <span class="text text-orange">Special package</span>
              </h2>
              <div class="pricing-head-body">
                <div class="price-wrapper">
                  <div class="price">
                    $499
                  </div>
                  <span class="additional-info">Includes select acoustic treatment</span>
                </div>
              </div>
              <div class="pricing-image" style="background: url('img/photos/ticket-1.jpg'); background-size:cover;">
                <span class="event-status event-status-lg bg-orange"></span>
                <h4 class="pricing-title">
                  <span class="text">Single room special</span>
                  <span class="clearfix"></span>
                  <span class="text text-smaller">If you just want to make it happen, cap'n.</span>
                </h4>
              </div>
            </div>
            <div class="caption bordered background-white">
              <div class="description">
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check"></i>Full analysis and corrective EQ</li>
                  <li>
                    <i class="fa fa-check"></i>Acoustic treatment for three walls</li>
                  <li>
                    <i class="fa fa-check"></i>Diffusion for one wall</li>
                  <li>
                    <i class="fa fa-check"></i>For rooms up to 15' by 15'</li>
                </ul>
                <p class="description text-justify">
                  <small>Does not include installation</small>
                </p>
              </div>
              <a class="btn standard-hover-effect bg-orange btn-lg btn-block" href="#">
                <span class="text">
                  <span class="fa fa-play"></span> Get Started</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="thumbnail pricing clearfix">
            <div class="pricing-head">
              <h2 class="standard-header">
                <span class="text">VIP</span>
              </h2>
              <div class="pricing-head-body">
                <div class="price-wrapper">
                  <div class="price">
                    Call Now!
                  </div>
                  <span class="additional-info">Full service treatment</span>
                </div>
              </div>
              <div class="pricing-image" style="background: url('img/photos/ticket-1.jpg'); background-size:cover;">
                <span class="event-status event-status-lg bg-red"></span>
                <h4 class="pricing-title">
                  <span class="text">Tailored to Fit</span>
                  <span class="clearfix"></span>
                  <span class="text text-smaller">Bespoke solutions to complex problems.</span>
                </h4>
              </div>
            </div>
            <div class="caption bordered background-white">
              <div class="description">
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check"></i>Custom design and implementation</li>
                  <li>
                    <i class="fa fa-check"></i>Artistic panels</li>
                  <li>
                    <i class="fa fa-check"></i>Beautiful diffusion</li>
                  <li>
                    <i class="fa fa-check"></i>Fine tuned solutions with results you can hear</li>
                </ul>
              </div>
              <a class="btn standard-hover-effect bg-red btn-lg btn-block" href="#">
                <span class="text">
                  <span class="fa fa-play"></span>
                  Get Started</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="standard-box">
        <h2 class="standard-header">
          <span class="text">FAQ</span>
        </h2>
        <div class="panel-group" id="accordion">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <span class="event-status bg-red"></span>
                  What is Acoustic Design?
                </a>
              </h3>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                Whether it's making conversation easy in a large restaurant or ensuring high fidelity sound equipment is preserved all the way to the listener's ear -- acoustic design means getting the most out of your space, and delighting your ears.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <span class="event-status bg-yellow"></span>
                  How do I know if my space can be helped?
                </a>
              </h3>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                There are acoustic solutions for every room and every budget. We never shy away from a challenge, are committed to producing results you can hear for yourself.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  <span class="event-status bg-green"></span>
                  Isn't acoustic treatment heavy and dangerous?
                </a>
              </h3>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                Modern acoustic treatment has come a long way in the past few years. From material made out of recycled blue jeans to lightweight and sculptural diffusion panels, there's a material for every application.
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  <span class="event-status bg-green"></span>
                  What if my room already has acoustic treatment?
                </a>
              </h3>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                That's great! Existing acoustic treatment can be moved or reinforced to provide a more even response according to our measurements.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <a class="btn standard-hover-effect bg-red btn-block" href="faq.html">
              <span class="text">More
                <i class="fa fa-arrow-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>


      <div class="standard-box bottom-box">
          <h2 class="standard-header">
              <span class="text">Contact Us</span>
          </h2>
          <form class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post" action="#">
              <div class="form-group has-feedback">
                  <label for="contact_name">Name</label>
                  <input type="email" class="form-control" id="contact_name" placeholder="Your Name">
              </div>
                <div class="form-group has-feedback">
                  <label for="contact_email">Email Address</label>
                  <input type="email" class="form-control" id="contact_email" placeholder="your@email.com">
              </div>
              <div class="form-group">
                  <label for="contact_message">Message</label>
                  <textarea class="form-control" name="contact_message" id="contact_message" placeholder="Type your message here."></textarea>
              </div>
              <div class="form-group">
                  <div class="col-sm-6 col-sm-offset-6">
                      <button name="submit" class="btn standard-hover-effect bg-red btn-block">
                          <span class="text">Send it!</span>
                      </button>
                  </div>
              </div>
          </form>
      </div>
            


    </div>
  </div>
</div>